In [5]:
import numpy as np
import pandas as pd

In [6]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [7]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [8]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
credits.head(1)["cast"]

0    [{"cast_id": 242, "character": "Jake Sully", "...
Name: cast, dtype: object

In [10]:
movies.shape, credits.shape

((4803, 20), (4803, 4))

In [11]:
movies = movies.merge(credits, on='title')

In [12]:
movies[movies['title'].duplicated(keep=False)].sort_values('title')
credits[credits['title'].duplicated(keep=False)].sort_values('title')

,movie_id,title,cast,crew
1359,268,Batman,"[{""cast_id"": 5, ""character"": ""Jack Napier/The ...","[{""credit_id"": ""52fe422fc3a36847f800aa4b"", ""de..."
4267,2661,Batman,"[{""cast_id"": 17, ""character"": ""Batman / Bruce ...","[{""credit_id"": ""52fe4363c3a36847f80509a7"", ""de..."
3647,39269,Out of the Blue,"[{""cast_id"": 2, ""character"": ""Don"", ""credit_id...","[{""credit_id"": ""52fe47099251416c9106826f"", ""de..."
3693,10844,Out of the Blue,"[{""cast_id"": 12, ""character"": ""Nick Harvey"", ""...","[{""credit_id"": ""52fe43c19251416c7501cceb"", ""de..."
972,72710,The Host,"[{""cast_id"": 52, ""character"": ""Melanie Stryder...","[{""credit_id"": ""52fe487bc3a368484e0fa919"", ""de..."
2877,1255,The Host,"[{""cast_id"": 3, ""character"": ""Park Gang-du"", ""...","[{""credit_id"": ""52fe42eac3a36847f802ca6b"", ""de..."

In [13]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [14]:
# Check whether we want to include this column or not

movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [15]:
# Will this column help in creating a tag?

# useful columns for recommendation system
##### genres, id, keywords, title, overview, cast, crew

# Try doing this with release_date and numerical columns later on

movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

!pip install itables

Requirement already satisfied: itables in /opt/anaconda3/lib/python3.13/site-packages (2.6.2)

In [16]:
from itables import show
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

# Preprocessing

In [17]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
movies.dropna(inplace=True)

In [19]:
movies.duplicated().sum()

np.int64(0)

In [20]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [21]:
import json

def convert(obj):
    L = []
    for i in json.loads(obj):
        L.append(i['name'])
    return L    

movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)


print(movies['genres'][0])
print(movies['keywords'][0])

['Action', 'Adventure', 'Fantasy', 'Science Fiction']
['culture clash', 'future', 'space war', 'space colony', 'society', 'space travel', 'futuristic', 'romance', 'space', 'alien', 'tribe', 'alien planet', 'cgi', 'marine', 'soldier', 'battle', 'love affair', 'anti war', 'power relations', 'mind and soul', '3d']

In [22]:
def convert_cast(obj):
    L = []
    counter = 0
    for i in json.loads(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [23]:
movies["cast"] = movies["cast"].apply(convert_cast)
print(movies['cast'][1])

['Johnny Depp', 'Orlando Bloom', 'Keira Knightley']

In [24]:
# I need those values where job == director
movies["crew"][0]

def fetch_director(obj):
    L = []
    for i in json.loads(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

movies["crew"] = movies["crew"].apply(fetch_director)
print(movies['crew'][0])

['James Cameron']

In [25]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]

In [26]:
movies["overview"][0]

movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [27]:
movies["genre"] = movies["genres"].apply(lambda x: [i.replace(" ", "") for i in x])
movies["keywords"] = movies["keywords"].apply(lambda x: [i.replace(" ", "") for i in x])
movies["cast"] = movies["cast"].apply(lambda x: [i.replace(" ", "") for i in x])
movies["crew"] = movies["crew"].apply(lambda x: [i.replace(" ", "") for i in x])

In [28]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [29]:
new_df = movies[['movie_id', 'title', 'tags']]

In [30]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x).lower())

/var/folders/52/2h6nlx5x6tb5lhh3xnc4lcbh0000gn/T/ipykernel_82634/274634086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x).lower())

In [37]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi scienc fiction cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [47]:
import nltk

In [48]:
# loved, love, loving --> love
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [49]:
ps.stem("loving")

'love'

In [50]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/52/2h6nlx5x6tb5lhh3xnc4lcbh0000gn/T/ipykernel_82634/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()
vectors.shape

(4806, 5000)

In [51]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], shape=(5000,))

In [58]:
# Lets find the similarity between vectors
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
similarity

array([[1.        , 0.08238526, 0.08492078, ..., 0.04399059, 0.        ,
        0.        ],
       [0.08238526, 1.        , 0.06063391, ..., 0.02355714, 0.        ,
        0.02615329],
       [0.08492078, 0.06063391, 1.        , ..., 0.02428215, 0.        ,
        0.        ],
       ...,
       [0.04399059, 0.02355714, 0.02428215, ..., 1.        , 0.03924588,
        0.04189458],
       [0.        , 0.        , 0.        , ..., 0.03924588, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04189458, 0.08714204,
        1.        ]], shape=(4806, 4806))

In [59]:
def recommend(movie, top_n=5):
    """
    Return a list of `top_n` movie titles most similar to `movie`.
    """
    print("="*60)
    print(f"üé¨ Looking for recommendations for: '{movie}'")
    print("="*60)
    
    # STEP 1: Find the movie in our database
    print("\nüìç STEP 1: Finding the movie in our database...")
    matches = new_df[new_df['title'] == movie].index
    print(f"   Matches found: {list(matches)}")
    
    if len(matches) == 0:
        print("   ‚ùå Movie not found in database!")
        return []
    
    movie_index = matches[0]
    print(f"   ‚úÖ Found '{movie}' at index (row number): {movie_index}")
    
    # STEP 2: Get similarity scores for this movie
    print("\nüìä STEP 2: Getting similarity scores...")
    distances = similarity[movie_index]
    print(f"   Total movies in database: {len(distances)}")
    print(f"   Similarity scores (first 10): {distances[:10]}")
    print(f"   Score at index {movie_index} (the movie itself): {distances[movie_index]}")
    
    # STEP 3: Pair each movie index with its similarity score
    print("\nüî¢ STEP 3: Pairing movie indices with scores...")
    enumerated = list(enumerate(distances))
    print(f"   First 5 pairs (index, score):")
    for i in range(min(5, len(enumerated))):
        idx, score = enumerated[i]
        movie_title = new_df.iloc[idx].title
        print(f"      Index {idx}: '{movie_title}' ‚Üí similarity = {score:.4f}")
    
    # STEP 4: Sort by similarity score (highest first)
    print("\nüìà STEP 4: Sorting by similarity (highest first)...")
    scored = sorted(
        enumerate(distances),
        key=lambda x: x[1],
        reverse=True
    )
    print(f"   Top 5 most similar (including the movie itself):")
    for i in range(min(5, len(scored))):
        idx, score = scored[i]
        movie_title = new_df.iloc[idx].title
        print(f"      #{i+1}: '{movie_title}' (index {idx}) ‚Üí similarity = {score:.4f}")
    
    # STEP 5: Skip the first one (the movie itself) and take top_n
    print(f"\n‚úÇÔ∏è STEP 5: Removing the movie itself and taking top {top_n}...")
    print(f"   Skipping: {new_df.iloc[scored[0][0]].title} (the movie itself)")
    top_matches = scored[1: top_n + 1]
    print(f"   Selected {len(top_matches)} recommendations:")
    for i, (idx, score) in enumerate(top_matches):
        movie_title = new_df.iloc[idx].title
        print(f"      #{i+1}: '{movie_title}' ‚Üí similarity = {score:.4f}")
    
    # STEP 6: Extract just the titles
    print("\nüìù STEP 6: Extracting movie titles...")
    recommendations = [new_df.iloc[i[0]].title for i in top_matches]
    print(f"   Final recommendations: {recommendations}")
    
    print("\n" + "="*60)
    print(f"‚úÖ DONE! Returning {len(recommendations)} recommendations")
    print("="*60 + "\n")
    
    return recommendations

In [60]:
recommend('Batman')

============================================================
üé¨ Looking for recommendations for: 'Batman'
============================================================

üìç STEP 1: Finding the movie in our database...
   Matches found: [1360, 1361, 4272, 4273]
   ‚úÖ Found 'Batman' at index (row number): 1360

üìä STEP 2: Getting similarity scores...
   Total movies in database: 4806
   Similarity scores (first 10): [0.05337605 0.08574929 0.05892557 0.30194054 0.14433757 0.15590239
 0.02051525 0.124226   0.18257419 0.2236068 ]
   Score at index 1360 (the movie itself): 0.9999999999999998

üî¢ STEP 3: Pairing movie indices with scores...
   First 5 pairs (index, score):
      Index 0: 'Avatar' ‚Üí similarity = 0.0534
      Index 1: 'Pirates of the Caribbean: At World's End' ‚Üí similarity = 0.0857
      Index 2: 'Spectre' ‚Üí similarity = 0.0589
      Index 3: 'The Dark Knight Rises' ‚Üí similarity = 0.3019
      Index 4: 'John Carter' ‚Üí similarity = 0.1443

üìà STEP 4: Sorting by similarity (highest first)...
   Top 5 most similar (including the movie itself):
      #1: 'Batman' (index 1360) ‚Üí similarity = 1.0000
      #2: 'Batman' (index 1361) ‚Üí similarity = 0.9428
      #3: 'Batman & Robin' (index 210) ‚Üí similarity = 0.4115
      #4: 'Batman Begins' (index 119) ‚Üí similarity = 0.3341
      #5: 'Batman Returns' (index 428) ‚Üí similarity = 0.3250

‚úÇÔ∏è STEP 5: Removing the movie itself and taking top 5...
   Skipping: Batman (the movie itself)
   Selected 5 recommendations:
      #1: 'Batman' ‚Üí similarity = 0.9428
      #2: 'Batman & Robin' ‚Üí similarity = 0.4115
      #3: 'Batman Begins' ‚Üí similarity = 0.3341
      #4: 'Batman Returns' ‚Üí similarity = 0.3250
      #5: 'The R.M.' ‚Üí similarity = 0.3224

üìù STEP 6: Extracting movie titles...
   Final recommendations: ['Batman', 'Batman & Robin', 'Batman Begins', 'Batman Returns', 'The R.M.']

============================================================
‚úÖ DONE! Returning 5 recommendations
============================================================

['Batman', 'Batman & Robin', 'Batman Begins', 'Batman Returns', 'The R.M.']

In [63]:
import pickle
pickle.dump(new_df, open('movies.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [62]:
pickle.dump(new_df.to_dict(), open('movies_dict.pkl', 'wb'))